*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

--stone-50: #fafaf9;
--stone-100: #f5f5f4;;
--stone-500: #f5f5f4;
--stone-600: #57534e;
--stone-700: #44403c;
--stone-800: #292524;
--rose-50: #fff1f2;
--rose-500: #f87171;
--rose-600: #ef4444;
--rose-700: #dc2626;
--rose-800: #b91c1c;
--blue-500: #3b82f6;
--blue-600: #2563eb;

--color-bg: var(--stone-50);
--color-bg-secondary: var(--stone-100);

--color-text-primary: var(--stone-800);
--color-text-secondary: var(--stone-600);
--color-text-button: var(--rose-50);
--color-bg-button: var(--rose-700);
--color-bg-button-hover: var(--rose-600);
--color-text-link: var(--blue-600);

--font-serif: 'Fraunces', serif;
--font-sans: 'Inter', system-ui, sans-serif;

--font-size-base: 28px;
--font-line-height-base: 34px;

--font-size-lg: 40px;
--font-size-title: 128px;
--font-line-height-title: 0.8;
--font-weight-normal: 400;
--font-weight-bold: 700;

--shadow-button: 0 8px 16px 0 rgba(248, 113, 113, 0.6), 0 1.5px 8px 0 rgba(239, 68, 68, 0.25);

}

@media (prefers-color-scheme: dark) {
    :root {
--color-bg: var(--stone-800);
--color-bg-secondary: var(--stone-700);
--color-text-primary: var(--stone-50);
--color-text-secondary: var(--stone-500);
--color-text-button: var(--rose-50);

--shadow-button: 0 8px 16px 0 rgba(248, 113, 113, 0.1), 0 1.5px 8px 0 rgba(239, 68, 68, 0.1);
    }
}

@media screen and (max-width: 600px) {
    :root {
        --font-size-base: 20px;
        --font-line-height-base: 26px;
        --font-size-lg: 24px;
        --font-size-title: 64px;
        --font-line-height-title: 1;
    }
}

body {
    background: var(--color-bg);
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-line-height-base);
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-title);
    font-family: var(--font-serif);
    margin: 32px 0 16px 0;
    color: var(--color-text-primary);
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-serif);
    margin: 24px 0 16px 0;
    color: var(--color-text-primary);
}

p {
    font-size: var(--font-size-base);
    margin: 0 0 8px 0;
    max-width: 1000px;
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-base);
}




.caption {
    font-size: 15px;
    color: var(--color-caption);
    font-style: italic;
    margin-top: 8px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}

.content-left {
    align-self: stretch;
    text-align: left;
    padding: 32px 0px;
}




a {
    all: unset;
    cursor: pointer;
}

.cta-button {
    display: inline-block;
    font-size: var(--font-size-base);
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    padding: 12px 32px;
    border-radius: 999px;
    border: none;
    text-decoration: none;
    transition: background-color 0.2s ease, padding 0.2s ease;
    margin-top: 32px;
    box-shadow: var(--shadow-button);
    width: fit-content;
}

.cta-button:hover,
.cta-button:focus {
    background-color: var(--color-bg-button-hover);
    /* transform: scaleX(1.07); */
    padding: 12px 36px;
}

.logo {
    display: inline-block;
    height: 128px;
    width: auto;
}

.text-logo-small {
    font-family: var(--font-serif);
    font-size: 32px;
    color: var(--color-text-primary);
    line-height: var(--font-line-height-title);
}



