*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

--stone-50: #fafaf9;
--stone-100: #f5f5f4;
--stone-200: #e7e5e4;
--stone-300: #d6d3d1;
--stone-400: #a8a29e;
--stone-500: #78716c;
--stone-600: #57534e;
--stone-700: #44403c;
--stone-800: #292524;
--stone-900: #1c1917;

--rose-50: #fff1f2;
--rose-100: #ffe4e6;
--rose-500: #f43f5e;
--rose-600: #e11d48;
--rose-700: #be123c;
--rose-800: #9f1239;

--blue-500: #3b82f6;
--blue-600: #2563eb;

--color-bg: var(--stone-50);
--color-bg-secondary: var(--stone-100);

--color-text-primary: var(--stone-800);
--color-text-secondary: var(--stone-600);
--color-text-button: var(--rose-50);
--color-bg-button: var(--rose-600);
--color-bg-button-hover: var(--rose-500);
--color-text-link: var(--blue-600);

--font-serif: 'Fraunces', serif;
--font-sans: 'Inter', system-ui, sans-serif;

--font-size-base: 28px;
--font-line-height-base: 34px;

--font-size-lg: 40px;
--font-size-title: 128px;
--font-line-height-title: 0.8;
--font-weight-normal: 400;
--font-weight-bold: 700;
--font-letter-spacing: -0.025em;

--shadow-button: 0 8px 16px 0 rgba(248, 113, 113, 0.6), 0 1.5px 8px 0 rgba(239, 68, 68, 0.25);

--color-highlight: var(--rose-100);
--color-text-highlight: var(--rose-800);

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--stone-800);
        --color-bg-secondary: var(--stone-900);
        --color-text-primary: var(--stone-50);
        --color-text-secondary: var(--stone-400);
        --color-text-button: var(--rose-50);

        --shadow-button: 0 8px 16px 0 rgba(248, 113, 113, 0.1), 0 1.5px 8px 0 rgba(239, 68, 68, 0.1);

        --color-highlight: var(--rose-800);
        --color-text-highlight: var(--rose-50);
    }
}

@media screen and (max-width: 600px) {
    :root {
        --font-size-base: 20px;
        --font-line-height-base: 26px;
        --font-size-lg: 24px;
        --font-size-title: 64px;
        --font-line-height-title: 1;
    }
}

body {
    background: var(--color-bg);
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-line-height-base);
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-title);
    font-family: var(--font-serif);
    margin: 32px 0 16px 0;
    color: var(--color-text-primary);
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-serif);
    margin: 24px 0 16px 0;
    color: var(--color-text-primary);
}

p {
    font-size: var(--font-size-base);
    margin: 0 0 8px 0;
    max-width: 1000px;
    color: var(--color-text-secondary);
    line-height: 1.33;
    letter-spacing: var(--font-letter-spacing);
    font-weight: 500;
}

::selection {
  background-color: var(--color-highlight); /* new highlight background color */
  color: var(--color-text-highlight);               /* new highlight text color */
}




.caption {
    font-size: 16px;
    margin-top: 8px;
}


.caption a:hover,
.caption a:focus {
    text-decoration: underline;
    color: var(--color-text-link);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}

.content-left {
    align-self: stretch;
    text-align: left;
    padding: 32px 0px;
}




a {
    all: unset;
    cursor: pointer;
}

.cta-button {
    display: inline-block;
    font-size: var(--font-size-base);
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    letter-spacing: var(--font-letter-spacing);;
    padding: 12px 32px;
    border-radius: 999px;
    border: none;
    text-decoration: none;
    transition: background-color 0.2s ease, padding 0.2s ease;
    margin-top: 32px;
    box-shadow: var(--shadow-button);
    width: fit-content;
}

.cta-button:hover,
.cta-button:focus {
    background-color: var(--color-bg-button-hover);
    /* transform: scaleX(1.07); */
    padding: 12px 36px;
}

.logo {
    display: inline-block;
    height: 128px;
    width: auto;
}

.text-logo-small {
    font-family: var(--font-serif);
    font-size: 32px;
    color: var(--color-text-primary);
    line-height: var(--font-line-height-title);
}



